---
name: Go

on:
  push:
    branches: [ main ]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  go:
    uses: openconfig/common-ci/.github/workflows/basic_go.yml@188e554c08d0fbb4683027783ac7d13de5ae9e7f
    permissions:
      contents: read
      statuses: write
